<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="shortcut icon" href="http://192.168.100.220/img/logo.png" type="image/x-icon" />


    <!-- Styles&Scripts Render -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)


    <!-- CSS -->
    <link rel="stylesheet" href="http://192.168.100.220/css/style.css" type="text/css" media="screen, projection, tv" />
    <link rel="stylesheet" href="http://192.168.100.220/css/style-print.css" type="text/css" media="print" />
    <!-- JavaScript -->
    @*
    <script type="text/javascript" src="http://192.168.100.220/js/jquery-1.8.2.min.js"></script>
    *@
    
    <script type="text/javascript" src="http://192.168.100.220/js/jquery.scroller.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$("form").submit(function() {
				document.getElementById('preloader').style.display='block';
				return true;
			});
		});

		$(function () {
		    $(window).scroller({ img_src: 'http://192.168.100.220/img/scrollup.png', height: 0.5 });
        })
    </script>


    <title>@ViewBag.Title / Сектор МПТ</title>
</head>


<body onload="document.getElementById('preloader').style.display = 'none' ">


    <link rel="stylesheet" href="http://192.168.100.220/css/newyear.css">
    <script type="text/javascript" src="http://192.168.100.220/js/newyear.js"></script>
    <script src="http://192.168.100.220/js/jquery.jdpicker.js"></script>
    <div id="header1">
        <div class="b-page b-page_login b-page_newyear">
            <div class="b-page__content">
                <i class="b-head-decor">
                    <i class="b-head-decor__inner b-head-decor__inner_n1">
                        <div class="b-ball b-ball_n1 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n2 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n3 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n4 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n5 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n6 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n7 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n8 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n9 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i1"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i2"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i3"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i4"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i5"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i6"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                    </i>
                    <i class="b-head-decor__inner b-head-decor__inner_n2">
                        <div class="b-ball b-ball_n1 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n2 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n3 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n4 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n5 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n6 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n7 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n8 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n9 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i1"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i2"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i3"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i4"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i5"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i6"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                    </i>
                    <i class="b-head-decor__inner b-head-decor__inner_n3">
                        <div class="b-ball b-ball_n1 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n2 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n3 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n4 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n5 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n6 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n7 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n8 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n9 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i1"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i2"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i3"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i4"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i5"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i6"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                    </i>
                    <i class="b-head-decor__inner b-head-decor__inner_n4">
                        <div class="b-ball b-ball_n1 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n2 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n3 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n4 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n5 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n6 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n7 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n8 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n9 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i1"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i2"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i3"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i4"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i5"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i6"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                    </i>
                    <i class="b-head-decor__inner b-head-decor__inner_n5">
                        <div class="b-ball b-ball_n1 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n2 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n3 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n4 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n5 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n6 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n7 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n8 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n9 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i1"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i2"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i3"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i4"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i5"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i6"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                    </i>
                    <i class="b-head-decor__inner b-head-decor__inner_n6">
                        <div class="b-ball b-ball_n1 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n2 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n3 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n4 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n5 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n6 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n7 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n8 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n9 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i1"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i2"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i3"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i4"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i5"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i6"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                    </i>
                    <i class="b-head-decor__inner b-head-decor__inner_n7">
                        <div class="b-ball b-ball_n1 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n2 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n3 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n4 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n5 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n6 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n7 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n8 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_n9 b-ball_bounce"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i1"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i2"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i3"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i4"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i5"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                        <div class="b-ball b-ball_i6"><div class="b-ball__right"></div><div class="b-ball__i"></div></div>
                    </i>
                </i>

            </div>
        </div>

    </div>



    <div id="preloader">
        <img src="http://192.168.100.220/img/loading.gif" alt="Loading..." />
    </div>

    <div id="wrapper">
        <!-- Header -->
        <header id="header-wrapper">
            <div id="header">
                <h1>
                    <img src="http://192.168.100.220/img/h1-bg.gif" width="35" height="35" alt="Logo" />
                    <a href="http://192.168.100.220">СЕКТОР МПТ</a>
                </h1>
                <h2>ОАО "Нафтан" завод "Полимир"</h2>
            </div>
        </header>

        <!-- Content left -->
        <div id="content-box-left" class="main-menu">
            <h3>Приложения МПТ</h3>
            <ul>
                <li><a href="http://192.168.100.220/webmpt/rsv.jsp" class="null">&nbsp;RSView32 Tag Creator</a></li>
                <li><a href="http://192.168.100.220/eventlog/calendar.php?y=2016&showmenu=on">&nbsp;График работы 2016</a></li>
                <li><a href="http://192.168.100.220/eventlog/calendar.php?y=2017&showmenu=on">&nbsp;График работы 2017</a></li>
                <li><a href="http://192.168.100.220/eventlog/plc.php?showmenu=on">&nbsp;Протокол событий</a></li>
                <li><a href="http://192.168.100.220/eventlog/tag.php?showmenu=on">&nbsp;Теги RSView</a></li>
                <li><a href="http://192.168.100.220/eventlog/p9tag.php?showmenu=on">&nbsp;Теги FSC (Печь №9)</a></li>
                <li><a href="http://192.168.100.220/eventlog/mos.php?showmenu=on">&nbsp;Журнал МОС</a></li>
                <li><a href="http://192.168.100.220/eventlog/device_run_list.php?showmenu=on">&nbsp;Пробег электрооборудования</a></li>
            </ul>
            <h3>WebMPT.NET</h3>
            <ul>
                <li><a href="/webmptnet/Plc">&nbsp;Контроллеры</a></li>
                <li><a href="/webmptnet/Project">&nbsp;Проекты HMI</a></li>
                <li><a href="/webmptnet/Workstation">&nbsp;Рабочие станции</a></li>
                <li><a href="/webmptnet/Workstation/EventsAll">&nbsp;События станций</a></li>
                <li><a href="/webmptnet/WorkSchedule">&nbsp;График работ</a></li>
            </ul>
            <h3>Redmine</h3>
            <ul>
                <li><a target="_blank" href="http://192.168.100.220/redmine/projects">&nbsp;Проекты</a></li>
                <li><a target="_blank" href="http://192.168.100.220/redmine/projects/100_mpt/wiki/Index">&nbsp;Wiki</a></li>
            </ul>
            <h3>Разное</h3>
            <ul>
                <li><a target="_blank" href="http://192.168.100.220/phpvirtualbox/">&nbsp;VirtualBox Web Manager</a></li>
                <li><a target="_blank" href="https://192.168.100.150/index.htm">&nbsp;PRTG Network Monitor</a></li>
            </ul>
            <h3>Приложения 607</h3>
            <ul>
                <li><a target="_blank" href="http://192.168.10.254/">&nbsp;Мониторинг UPS (Zabbix)</a></li>
                <li><a target="_blank" href="http://192.168.55.55/raport/">&nbsp;Система учета и контроля товарно-сырьевых ресурсов (Raport)</a></li>
                <li><a target="_blank" href="http://192.168.55.55/polyclient/">&nbsp;ПолиКлиент WEB</a></li>
            </ul>
            <h3>ОАО Нафтан</h3>
            <ul>
                <li><a target="_blank" href="http://portal.lan.naftan.by/">&nbsp;Корпоративный портал</a></li>
                <li><a target="_blank" href="http://phones.lan.naftan.by/">&nbsp;Телефонный справочник</a></li>
            </ul>
            <h3>Контакты</h3>
            <p><span>Phone: </span>78-86</p>
            <p><span>E-mail: </span><a href="mailto:mpt@polymir.by">mpt@polymir.by</a></p>
        </div>


        <!-- Content right -->
        <div id="content-box-right">

            @* {xxxBODYxxx} *@
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@ViewBag.LeftContent</p>
                </div>
                <div class="float-right">
                    <section id="login">@Html.Partial("_LoginPartial")</section>
                </div>
            </div>
            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
            @* {xxxBODYxxx} *@


        </div>
    </div>
    <div id="footer">
        <p><a href="mailto:mpt@polymir.by">Сектор МПТ</a>&copy; 2016г.</p>
    </div>
</body>
</html>