@using WebMpt.Model
@model PlcEventListDTO

@{
    ViewBag.Title = string.Format("Протокол событий: \"{0}\"", Model.Plc.FullName);
    ViewBag.Message = Model.Plc.FullName;
    ViewBag.LeftContent = ViewBag.Title;
}

@section Scripts {
    @Styles.Render("~/Content/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")
    <script>
        function contextTracker() { return false; }
        document.oncontextmenu = contextTracker;
    </script>
}

@using (Html.BeginForm(null, null, FormMethod.Get, new {@id = "SearchForm", @class = "form-horizontal"}))
{
    <fieldset>
        <legend>Фильтр</legend>

        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Дополнительно</a>
            </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(x => Model.Numbers, new {@class = "col-sm-2 control-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => Model.Numbers, new {@value = Model.Numbers, @class = "form-control", @defaultValue = "", @placeholder = Html.DisplayNameFor(x => Model.Numbers)})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => Model.Message, new {@class = "col-sm-2 control-label"})
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => Model.Message, new {@value = Model.Message, @class = "form-control", @defaultValue="", @placeholder = Html.DisplayNameFor(x => Model.Message)})
                    </div>
                </div>
                <div class="form-group checkbox">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label>
                            @Html.CheckBoxFor(m => m.Desc, new { @defaultValue = false})
                            @Html.DisplayNameFor(m => m.Desc)
                        </label>
                    </div>
                </div>

                <div class="form-group checkbox">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label>
                            @Html.CheckBoxFor(m => m.HideBreak, new { @defaultValue = false})
                            @Html.DisplayNameFor(m => m.HideBreak)
                        </label>
                    </div>
                </div>

                <div class="form-group checkbox">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label>
                            @Html.CheckBoxFor(m => m.Group, new { @defaultValue = false})
                            @Html.DisplayNameFor(m => m.Group)
                        </label>
                    </div>
                </div>

            </div>
        </div>


        <div class="form-group">

                @Html.LabelFor(x => Model.From, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-3">
                    <div class="input-group date">
                        <label for="@Html.NameFor(i => i.From)" class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"/>
                        </label>
                        <input id="@Html.NameFor(i => i.From)"
                               name="@Html.NameFor(i => i.From)"
                               value="@Html.DisplayFor(i => i.From)"
                               class="form-control" type="text"/>
                    </div>
                </div>

                @Html.LabelFor(x => Model.To, new {@class = "col-sm-2 control-label"})
                <div class="col-sm-3">
                    <div class="input-group date">
                        <label for="@Html.NameFor(i => i.To)" class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"/>
                        </label>
                        <input id="@Html.NameFor(i => i.To)"
                               name="@Html.NameFor(i => i.To)"
                               value="@Html.DisplayFor(i => i.To)"
                               class="form-control" type="text"/>
                    </div>
                </div>
            <script type="text/javascript">
                $('#@Html.NameFor(i => i.From)')
                    .datetimepicker({
                        locale: 'ru',
                        format: "YYYY-MM-DD",
                        //showTodayButton: true,
                        maxDate: moment(),
                        //maxDate: dpTo.viewDate,
                        //useCurrent: false //Important! See issue #1075
                    });

                $('#@Html.NameFor(i => i.To)')
                    .datetimepicker({
                        locale: 'ru',
                        format: "YYYY-MM-DD",
                        showTodayButton: true,
                        maxDate: moment(),
                        //useCurrent: false //Important! See issue #1075
                    });

                $('#@Html.NameFor(i => i.To)').on("dp.change", function (e) { $('#@Html.NameFor(i => i.From)').data("DateTimePicker").maxDate(e.date); });
                $('#@Html.NameFor(i => i.From)').on("dp.change", function (e) { $('#@Html.NameFor(i => i.To)').data("DateTimePicker").minDate(e.date); });
            </script>
        </div>

        <div class="form-group-sm form-actions">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" value="" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span> Применить</button>
                <a href="@Url.Action("Events", routeValues: null)" class="btn btn-default" role="button"><span class="glyphicon glyphicon-erase"></span> Сбросить</a>
            </div>
        </div>
    </fieldset>
}
<br/>

<table id="EventsTable" class="table table-bordered table-striped table-hover table-condensed">
    <thead>
    <tr>
        @{ var head = new PlcEventDTO(); }
        <th> @Html.DisplayNameFor(model => head.Date)</th>
        <th> @Html.DisplayNameFor(model => head.Time)</th>
        <th> @Html.DisplayNameFor(model => head.Number)</th>
        <th> @Html.DisplayNameFor(model => head.Message)</th>
        <th> @Html.DisplayNameFor(model => head.CodeString)</th>
        <th> @Html.DisplayNameFor(model => head.ValueString)</th>
    </tr>
    </thead>

    <tbody>
        @foreach (var plcEventDTO in Model.PlcEventDTOList)
        {
            var styleClass = "";
            switch (plcEventDTO.SeverityNumber)
            {
                case 1:
                case 2:
                    styleClass = "danger";
                    break;
                case 3:
                    styleClass = "warning";
                    break;
            }

            <tr class="@styleClass">
                <td>@Html.DisplayFor(i => plcEventDTO.Date)</td>
                <td>@Html.DisplayFor(i => plcEventDTO.Time)</td>
                <td>@Html.DisplayFor(i => plcEventDTO.Number)</td>
                <td>@Html.DisplayFor(i => plcEventDTO.Message)</td>
                <td>
                    @switch (plcEventDTO.Code)
                    {
                        case 64:
                            @Html.Raw("норма")
                            break;
                        case 65:
                            @Html.Raw("нарушение")
                            break;
                        default:
                            @Html.DisplayFor(i => (plcEventDTO.CodeString))
                            break;
                    }
                </td>
                <td>@Html.DisplayFor(i => (plcEventDTO.ValueString))</td>
                <!--
                <td>@Html.DisplayFor(i => (plcEventDTO.Value))</td>
                -->
            </tr>
        }
    </tbody>
</table>

@*
@{
    const string linkDateFormat = "({0})";
    var date = Model.DateEnd;
    var dtToday = date.ToString(PlcEventListDTO.DateFormat);
    var dtPast = date.AddDays(-1).ToString(PlcEventListDTO.DateFormat);

    if (date.Date < DateTime.Now.Date)
    {
        var dtFuture = date.AddDays(1).ToString(PlcEventListDTO.DateFormat);       
        @Html.ActionLink(string.Format(linkDateFormat, dtFuture), "Events", new { date = dtFuture })
        @Html.Raw("&nbsp;")@Html.Raw("&nbsp;")
    }

    @Html.Raw(string.Format(linkDateFormat, dtToday))
    @Html.Raw("&nbsp;")@Html.Raw("&nbsp;")
    
    @Html.ActionLink(string.Format(linkDateFormat, dtPast), "Events", new { date = dtPast })
}
<br/>
@Html.ActionLink("(сегодня)", "Events", routeValues: new { } )
*@