@model IEnumerable<WebMpt.Model.PlcDTO>
@{
    ViewBag.Title = "Список контроллеров";
    ViewBag.LeftContent = ViewBag.Title;
    //ViewBag.RightContent = ;
}

@*
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
*@

@Html.ActionLink("Добавить новый", "Create")
<br/>

<table class="table table-bordered table-striped table-hover table-condensed">
@foreach (var group in Model.GroupBy(plc => plc.FactoryNumber).OrderBy(x => x.Key))
{
    <thead>
    <tr>
        <th colspan="5"><b>@Html.DisplayFor(i => group.First().FactoryFullName)</b></th>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.EventCount)</th>
        <th>@Html.DisplayNameFor(model => model.LastEventDateTime)</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var plc in group.OrderBy(p => p.OrderIndex))
    {
        <tr>
            <td>@Html.DisplayFor(i => plc.Name)</td>
            <td>@Html.DisplayFor(i => plc.Description)</td>
            <td style="text-align:center; @Html.Raw(plc.HasAlarm ? "color:red":"") "> @Html.DisplayFor(i => plc.EventCount)</td>
            <td>
                @if (plc.LastEventDateTime != null)
                {
                    var dt = plc.LastEventDateTime.Value;
                    var timeFormat = "yyyy-MM-dd, HH:mm";
                    if (dt.Date == DateTime.Now.Date)
                    {
                        timeFormat = "сегодня, HH:mm";
                    }
                    else if (dt.Date == DateTime.Now.Date.AddDays(-1))
                    {
                        timeFormat = "вчера, HH:mm";
                    }
                    @Html.Raw(dt.ToString(timeFormat))
                }
            </td>
            <td>
                @if (plc.ProtocolType == 1 || plc.ProtocolType == 2)
                {
                    @*new { target = "_blank" }*@
                    @Html.ActionLink("Протокол", "Events", new {id = plc.Name} )
                    if (plc.ProtocolType == 1)
                    {
                        @Html.Raw("  |  ")
                        @Html.ActionLink("Сообщения", "Messages", new {id = plc.Id})
                    }                    
                }
            </td>
        </tr>
    }
    </tbody>
}
</table>