@model IEnumerable<MPT.Model.PlcMessage>

@{
    ViewBag.Title = string.Format("Список сообщений контроллера \"{0}\"",ViewBag.PlcFullName);
}

<h1>@ViewBag.Title</h1>

@if (ViewBag.ErrorMEssage != null)
{
    <h2 class="text-warning warning">@ViewBag.ErrorMessage</h2>
}

<button type="button" class="btn btn-default" id="LoadMesssagesButton" data-toggle="modal" data-target="#LoadMessagesModalForm">
    <span class="glyphicon glyphicon-save"></span> Загрузить сообщений в базу
</button>

<br/>
<div><a href="http://192.168.100.220/redmine/projects/100_mpt/wiki/LoadPlcMessagesExcel" target="_blank">Инструкция по подготовке списка сообщений</a> </div>

<br/>

<!-- Modal -->
<div class="modal fade" id="LoadMessagesModalForm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" @* style="padding: 35px 50px; *@>
                <h4 class="text-center"><span class="glyphicon glyphicon-asterisk"></span> Загрузить сообщения</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                @using (Html.BeginForm("MessagesUpdate", "Plc", FormMethod.Post, new {@enctype = "multipart/form-data", @id = "LoadForm"}))
                {
                    <fieldset>
                        <legend>Для контроллера "@ViewBag.PlcFullName"</legend>

                        <div class="form-group-sm">
                            @Html.Hidden("plcId", (int) ViewBag.PlcId)
                        </div>

                        <div class="form-group-sm">
                            @Html.Label("excelFile", "Выберите excelDataBase файл \"Перечень позиций\"", new {@class = "control-label"})
                            @Html.TextBox("excelFile", null, new {@type = "file", @class = "form-control", @placeholder = "Выберите excelDataBase файл \"Перечень позиций\""})
                        </div>
                        <br/>
                        <div class="form-group-sm form-actions">
                            <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Загрузить</button>
                            <button type="button" class="btn btn-default " data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Отмена</button>
                        </div>
                    </fieldset>
                }
            </div>

            @*
            <div class="modal-footer">
            </div>
            *@
        </div>
    </div>
</div>

<br/>

<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Number)</th>
            <th>@Html.DisplayNameFor(model => model.Text)</th>
            <th>@Html.DisplayNameFor(model => model.Group)</th>
            <th>@Html.DisplayNameFor(model => model.Severity)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => message.Number)</td>
                <td>@Html.DisplayFor(modelItem => message.Text)</td>
                <td>@Html.DisplayFor(modelItem => message.Group)</td>
                <td>@Html.DisplayFor(modelItem => message.Severity)</td>
            </tr>
        }
    </tbody>
</table>